{% extends 'admin_templates/admin_dashboard.html' %}
{% block head %}
  <title>Assign Role</title>
  {% endblock %}

{% block content %}
  <h1>Assign Role</h1>
  <form method="post" action="{% url 'api_assign_role' user.id %}">
    {% csrf_token %}
    <label for="role">Select Role:</label>
    <select id="role" name="role">
      <option value="Team_Leader">Team Leader</option>
      <option value="User">User Role</option>
    </select>
    <br>
    <button type="submit">Assign</button>
  </form>
 
  {% endblock %}