
</html>
<!DOCTYPE html>
<html>
<head>
  <style>
    .sidenav {
      width: 200px;
      background-color: #f1f1f1;
      padding: 10px;
    }
    
    .sidenav a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #000;
    }
    
    .sidenav a:hover {
      background-color: #ddd;
    }
    
    .content {
      margin-left: 220px;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="sidenav">
    <a href="#">Users</a>
    <a href="#">Training Modules</a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
  
  <div class="content">
    <h3>{{user}}</h3>
    <p>This is the page.</p>
  </div>
  <p4>You already signed in </p4>
<a href="{% url 'logout_api' %}">logout</a>

</body>
</html>
